.BarraLateral{
    color: #8C42BA;
}
.logomenor{

}

.classe01{
    color:#00a157;
    font-size: 40px
}

.classe02{
    color:#00a157;
    font-size: 45px
}
.crimson45px{
    color:crimson;
    font-size: 45px
}

.classe03{
    margin: 0 auto;
    width: 55%
}

.red_Font_64{
    color:red;
    font-size: 60px
}

.green_Font_20{
    color: green;
    font-size: 20px
}

.font_17{
    font-size: 17px
}

.font_16{
    font-size: 16px
}

.font_20{
    font-size: 20px
}

.font_30{
    font-size: 30px
}

.gold_font_20{
    font-size: 20px;
    color: #ffae0d
}

.gold_font_30{
    font-size: 30px;
    color: #ffae0d
}

.gold_font_40{
    font-size: 40px;
    color: #ffae0d
}


